{
  "openapi": "3.1.0",
  "info": {
    "title": "AllTick マーケットデータ API",
    "description": "株式、外国為替、暗号通貨、コモディティのリアルタイム・履歴マーケットデータAPI。",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://quote.alltick.co",
      "description": "Production"
    }
  ],
  "paths": {
    "/quote-stock-b-api/kline": {
      "get": {
        "operationId": "getStockKline",
        "summary": "Stock K-Line Query",
        "description": "Query historical K-line (candlestick) data for a single stock product (US stocks, HK stocks, A-shares). Returns OHLCV data. Max 500 K-lines per request.",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API認証トークン",
            "schema": {
              "type": "string",
              "default": "YOUR_TOKEN_HERE"
            },
            "example": "YOUR_TOKEN_HERE"
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "traceとdataフィールドを含むURLエンコードされたJSON文字列。",
            "schema": {
              "type": "string",
              "default": "{\"trace\":\"abc-123\",\"data\":{\"code\":\"700.HK\",\"kline_type\":1,\"kline_timestamp_end\":0,\"query_kline_num\":2,\"adjust_type\":0}}"
            },
            "example": "{\"trace\":\"abc-123\",\"data\":{\"code\":\"700.HK\",\"kline_type\":1,\"kline_timestamp_end\":0,\"query_kline_num\":2,\"adjust_type\":0}}"
          }
        ],
        "responses": {
          "200": {
            "description": "成功レスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KlineResponse"
                }
              }
            }
          }
        }
      }
    },
    "/quote-b-api/kline": {
      "get": {
        "operationId": "getForexKline",
        "summary": "Forex/Crypto K-Line Query",
        "description": "Query historical K-line data for forex, cryptocurrency, precious metals, crude oil, and commodity products. Max 500 K-lines per request.",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API認証トークン",
            "schema": {
              "type": "string",
              "default": "YOUR_TOKEN_HERE"
            },
            "example": "YOUR_TOKEN_HERE"
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "traceとdataフィールドを含むURLエンコードされたJSON文字列。",
            "schema": {
              "type": "string",
              "default": "{\"trace\":\"abc-123\",\"data\":{\"code\":\"BTCUSDT\",\"kline_type\":1,\"kline_timestamp_end\":0,\"query_kline_num\":2,\"adjust_type\":0}}"
            },
            "example": "{\"trace\":\"abc-123\",\"data\":{\"code\":\"BTCUSDT\",\"kline_type\":1,\"kline_timestamp_end\":0,\"query_kline_num\":2,\"adjust_type\":0}}"
          }
        ],
        "responses": {
          "200": {
            "description": "成功レスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KlineResponse"
                }
              }
            }
          }
        }
      }
    },
    "/quote-stock-b-api/batch-kline": {
      "post": {
        "operationId": "postStockBatchKline",
        "summary": "Stock Batch K-Line Query",
        "description": "Batch query latest 2 K-lines for multiple stock products. Supports querying multiple products and K-line types simultaneously.",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API認証トークン",
            "schema": {
              "type": "string",
              "default": "YOUR_TOKEN_HERE"
            },
            "example": "YOUR_TOKEN_HERE"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchKlineRequest"
              },
              "example": {
                "trace": "abc-123",
                "data": {
                  "data_list": [
                    {
                      "code": "700.HK",
                      "kline_type": 1,
                      "kline_timestamp_end": 0,
                      "query_kline_num": 2,
                      "adjust_type": 0
                    },
                    {
                      "code": "AAPL.US",
                      "kline_type": 8,
                      "kline_timestamp_end": 0,
                      "query_kline_num": 2,
                      "adjust_type": 0
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功レスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchKlineResponse"
                }
              }
            }
          }
        }
      }
    },
    "/quote-b-api/batch-kline": {
      "post": {
        "operationId": "postForexBatchKline",
        "summary": "Forex/Crypto Batch K-Line Query",
        "description": "Batch query latest 2 K-lines for multiple forex, crypto, or commodity products.",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API認証トークン",
            "schema": {
              "type": "string",
              "default": "YOUR_TOKEN_HERE"
            },
            "example": "YOUR_TOKEN_HERE"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchKlineRequest"
              },
              "example": {
                "trace": "abc-123",
                "data": {
                  "data_list": [
                    {
                      "code": "BTCUSDT",
                      "kline_type": 1,
                      "kline_timestamp_end": 0,
                      "query_kline_num": 2,
                      "adjust_type": 0
                    },
                    {
                      "code": "ETHUSDT",
                      "kline_type": 8,
                      "kline_timestamp_end": 0,
                      "query_kline_num": 2,
                      "adjust_type": 0
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功レスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchKlineResponse"
                }
              }
            }
          }
        }
      }
    },
    "/quote-stock-b-api/depth-tick": {
      "get": {
        "operationId": "getStockDepthTick",
        "summary": "Stock Order Book Query",
        "description": "Query latest order book (market depth) data for stock products. Supports batch querying multiple products.",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API認証トークン",
            "schema": {
              "type": "string",
              "default": "YOUR_TOKEN_HERE"
            },
            "example": "YOUR_TOKEN_HERE"
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "traceとsymbol_listを含むURLエンコードされたJSON文字列。",
            "schema": {
              "type": "string",
              "default": "{\"trace\":\"abc-123\",\"data\":{\"symbol_list\":[{\"code\":\"700.HK\"},{\"code\":\"AAPL.US\"}]}}"
            },
            "example": "{\"trace\":\"abc-123\",\"data\":{\"symbol_list\":[{\"code\":\"700.HK\"},{\"code\":\"AAPL.US\"}]}}"
          }
        ],
        "responses": {
          "200": {
            "description": "成功レスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepthTickResponse"
                }
              }
            }
          }
        }
      }
    },
    "/quote-b-api/depth-tick": {
      "get": {
        "operationId": "getForexDepthTick",
        "summary": "Forex/Crypto Order Book Query",
        "description": "Query latest order book data for forex, crypto, precious metals, and commodity products.",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API認証トークン",
            "schema": {
              "type": "string",
              "default": "YOUR_TOKEN_HERE"
            },
            "example": "YOUR_TOKEN_HERE"
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "traceとsymbol_listを含むURLエンコードされたJSON文字列。",
            "schema": {
              "type": "string",
              "default": "{\"trace\":\"abc-123\",\"data\":{\"symbol_list\":[{\"code\":\"BTCUSDT\"},{\"code\":\"ETHUSDT\"}]}}"
            },
            "example": "{\"trace\":\"abc-123\",\"data\":{\"symbol_list\":[{\"code\":\"BTCUSDT\"},{\"code\":\"ETHUSDT\"}]}}"
          }
        ],
        "responses": {
          "200": {
            "description": "成功レスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepthTickResponse"
                }
              }
            }
          }
        }
      }
    },
    "/quote-stock-b-api/trade-tick": {
      "get": {
        "operationId": "getStockTradeTick",
        "summary": "Stock Latest Trade Query",
        "description": "Query latest trade price (tick data) for stock products. Supports batch querying multiple products.",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API認証トークン",
            "schema": {
              "type": "string",
              "default": "YOUR_TOKEN_HERE"
            },
            "example": "YOUR_TOKEN_HERE"
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "traceとsymbol_listを含むURLエンコードされたJSON文字列。",
            "schema": {
              "type": "string",
              "default": "{\"trace\":\"abc-123\",\"data\":{\"symbol_list\":[{\"code\":\"700.HK\"},{\"code\":\"AAPL.US\"}]}}"
            },
            "example": "{\"trace\":\"abc-123\",\"data\":{\"symbol_list\":[{\"code\":\"700.HK\"},{\"code\":\"AAPL.US\"}]}}"
          }
        ],
        "responses": {
          "200": {
            "description": "成功レスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TradeTickResponse"
                }
              }
            }
          }
        }
      }
    },
    "/quote-b-api/trade-tick": {
      "get": {
        "operationId": "getForexTradeTick",
        "summary": "Forex/Crypto Latest Trade Query",
        "description": "Query latest trade price for forex, crypto, precious metals, and commodity products.",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API認証トークン",
            "schema": {
              "type": "string",
              "default": "YOUR_TOKEN_HERE"
            },
            "example": "YOUR_TOKEN_HERE"
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "traceとsymbol_listを含むURLエンコードされたJSON文字列。",
            "schema": {
              "type": "string",
              "default": "{\"trace\":\"abc-123\",\"data\":{\"symbol_list\":[{\"code\":\"BTCUSDT\"},{\"code\":\"ETHUSDT\"}]}}"
            },
            "example": "{\"trace\":\"abc-123\",\"data\":{\"symbol_list\":[{\"code\":\"BTCUSDT\"},{\"code\":\"ETHUSDT\"}]}}"
          }
        ],
        "responses": {
          "200": {
            "description": "成功レスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TradeTickResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "KlineResponse": {
        "type": "object",
        "properties": {
          "ret": {
            "type": "integer",
            "description": "リターンコード（200 = 成功）"
          },
          "msg": {
            "type": "string",
            "description": "レスポンスメッセージ"
          },
          "trace": {
            "type": "string",
            "description": "リクエストトレースID"
          },
          "data": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "製品コード"
              },
              "kline_type": {
                "type": "integer",
                "description": "Kラインタイプ（1=1分, 2=5分, 3=15分, 4=30分, 5=1時間, 6=2時間, 7=4時間, 8=日足, 9=週足, 10=月足）"
              },
              "kline_list": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "timestamp": {
                      "type": "string",
                      "description": "Kラインタイムスタンプ"
                    },
                    "open_price": {
                      "type": "string",
                      "description": "始値"
                    },
                    "close_price": {
                      "type": "string",
                      "description": "終値"
                    },
                    "high_price": {
                      "type": "string",
                      "description": "高値"
                    },
                    "low_price": {
                      "type": "string",
                      "description": "安値"
                    },
                    "volume": {
                      "type": "string",
                      "description": "出来高"
                    },
                    "turnover": {
                      "type": "string",
                      "description": "売買代金"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "BatchKlineRequest": {
        "type": "object",
        "required": [
          "trace",
          "data"
        ],
        "properties": {
          "trace": {
            "type": "string",
            "description": "リクエスト追跡用の一意のトレースID"
          },
          "data": {
            "type": "object",
            "required": [
              "data_list"
            ],
            "properties": {
              "data_list": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "code",
                    "kline_type",
                    "kline_timestamp_end",
                    "query_kline_num",
                    "adjust_type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "製品コード"
                    },
                    "kline_type": {
                      "type": "integer",
                      "description": "Kラインタイプ（1=1分, 2=5分, 3=15分, 4=30分, 5=1時間, 6=2時間, 7=4時間, 8=日足, 9=週足, 10=月足）"
                    },
                    "kline_timestamp_end": {
                      "type": "integer",
                      "description": "終了タイムスタンプ（0 = 最新）"
                    },
                    "query_kline_num": {
                      "type": "integer",
                      "description": "照会するKライン数（バッチ最大2本）"
                    },
                    "adjust_type": {
                      "type": "integer",
                      "description": "調整タイプ（0=権利落ち, 1=前方調整）"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "BatchKlineResponse": {
        "type": "object",
        "properties": {
          "ret": {
            "type": "integer"
          },
          "msg": {
            "type": "string"
          },
          "trace": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "kline_list": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "kline_type": {
                      "type": "integer"
                    },
                    "kline_data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string"
                          },
                          "open_price": {
                            "type": "string"
                          },
                          "close_price": {
                            "type": "string"
                          },
                          "high_price": {
                            "type": "string"
                          },
                          "low_price": {
                            "type": "string"
                          },
                          "volume": {
                            "type": "string"
                          },
                          "turnover": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "DepthTickResponse": {
        "type": "object",
        "properties": {
          "ret": {
            "type": "integer"
          },
          "msg": {
            "type": "string"
          },
          "trace": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "tick_list": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "製品コード"
                    },
                    "seq": {
                      "type": "string",
                      "description": "相場シーケンス番号"
                    },
                    "tick_time": {
                      "type": "string",
                      "description": "相場タイムスタンプ（ミリ秒）"
                    },
                    "bids": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "string"
                          },
                          "volume": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "asks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "string"
                          },
                          "volume": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "TradeTickResponse": {
        "type": "object",
        "properties": {
          "ret": {
            "type": "integer"
          },
          "msg": {
            "type": "string"
          },
          "trace": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "tick_list": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "製品コード"
                    },
                    "seq": {
                      "type": "string",
                      "description": "シーケンス番号"
                    },
                    "tick_time": {
                      "type": "string",
                      "description": "タイムスタンプ（ミリ秒）"
                    },
                    "price": {
                      "type": "string",
                      "description": "約定価格"
                    },
                    "volume": {
                      "type": "string",
                      "description": "約定数量"
                    },
                    "turnover": {
                      "type": "string",
                      "description": "約定金額"
                    },
                    "trade_direction": {
                      "type": "integer",
                      "description": "取引方向（0=中立, 1=買い, 2=売り）"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}