{
  "openapi": "3.1.0",
  "info": {
    "title": "AllTick 行情数据 API",
    "description": "股票、外汇、加密货币和商品的实时及历史行情数据API。",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://quote.alltick.co",
      "description": "Production"
    }
  ],
  "paths": {
    "/quote-stock-b-api/kline": {
      "get": {
        "operationId": "getStockKline",
        "summary": "Stock K-Line Query",
        "description": "Query historical K-line (candlestick) data for a single stock product (US stocks, HK stocks, A-shares). Returns OHLCV data. Max 500 K-lines per request.",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "您的API认证Token",
            "schema": {
              "type": "string",
              "default": "YOUR_TOKEN_HERE"
            },
            "example": "YOUR_TOKEN_HERE"
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "URL编码的JSON字符串，包含trace和data字段。",
            "schema": {
              "type": "string",
              "default": "{\"trace\":\"abc-123\",\"data\":{\"code\":\"700.HK\",\"kline_type\":1,\"kline_timestamp_end\":0,\"query_kline_num\":2,\"adjust_type\":0}}"
            },
            "example": "{\"trace\":\"abc-123\",\"data\":{\"code\":\"700.HK\",\"kline_type\":1,\"kline_timestamp_end\":0,\"query_kline_num\":2,\"adjust_type\":0}}"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KlineResponse"
                }
              }
            }
          }
        }
      }
    },
    "/quote-b-api/kline": {
      "get": {
        "operationId": "getForexKline",
        "summary": "Forex/Crypto K-Line Query",
        "description": "Query historical K-line data for forex, cryptocurrency, precious metals, crude oil, and commodity products. Max 500 K-lines per request.",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "您的API认证Token",
            "schema": {
              "type": "string",
              "default": "YOUR_TOKEN_HERE"
            },
            "example": "YOUR_TOKEN_HERE"
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "URL编码的JSON字符串，包含trace和data字段。",
            "schema": {
              "type": "string",
              "default": "{\"trace\":\"abc-123\",\"data\":{\"code\":\"BTCUSDT\",\"kline_type\":1,\"kline_timestamp_end\":0,\"query_kline_num\":2,\"adjust_type\":0}}"
            },
            "example": "{\"trace\":\"abc-123\",\"data\":{\"code\":\"BTCUSDT\",\"kline_type\":1,\"kline_timestamp_end\":0,\"query_kline_num\":2,\"adjust_type\":0}}"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KlineResponse"
                }
              }
            }
          }
        }
      }
    },
    "/quote-stock-b-api/batch-kline": {
      "post": {
        "operationId": "postStockBatchKline",
        "summary": "Stock Batch K-Line Query",
        "description": "Batch query latest 2 K-lines for multiple stock products. Supports querying multiple products and K-line types simultaneously.",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "您的API认证Token",
            "schema": {
              "type": "string",
              "default": "YOUR_TOKEN_HERE"
            },
            "example": "YOUR_TOKEN_HERE"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchKlineRequest"
              },
              "example": {
                "trace": "abc-123",
                "data": {
                  "data_list": [
                    {
                      "code": "700.HK",
                      "kline_type": 1,
                      "kline_timestamp_end": 0,
                      "query_kline_num": 2,
                      "adjust_type": 0
                    },
                    {
                      "code": "AAPL.US",
                      "kline_type": 8,
                      "kline_timestamp_end": 0,
                      "query_kline_num": 2,
                      "adjust_type": 0
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchKlineResponse"
                }
              }
            }
          }
        }
      }
    },
    "/quote-b-api/batch-kline": {
      "post": {
        "operationId": "postForexBatchKline",
        "summary": "Forex/Crypto Batch K-Line Query",
        "description": "Batch query latest 2 K-lines for multiple forex, crypto, or commodity products.",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "您的API认证Token",
            "schema": {
              "type": "string",
              "default": "YOUR_TOKEN_HERE"
            },
            "example": "YOUR_TOKEN_HERE"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchKlineRequest"
              },
              "example": {
                "trace": "abc-123",
                "data": {
                  "data_list": [
                    {
                      "code": "BTCUSDT",
                      "kline_type": 1,
                      "kline_timestamp_end": 0,
                      "query_kline_num": 2,
                      "adjust_type": 0
                    },
                    {
                      "code": "ETHUSDT",
                      "kline_type": 8,
                      "kline_timestamp_end": 0,
                      "query_kline_num": 2,
                      "adjust_type": 0
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchKlineResponse"
                }
              }
            }
          }
        }
      }
    },
    "/quote-stock-b-api/depth-tick": {
      "get": {
        "operationId": "getStockDepthTick",
        "summary": "Stock Order Book Query",
        "description": "Query latest order book (market depth) data for stock products. Supports batch querying multiple products.",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "您的API认证Token",
            "schema": {
              "type": "string",
              "default": "YOUR_TOKEN_HERE"
            },
            "example": "YOUR_TOKEN_HERE"
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "URL编码的JSON字符串，包含trace和symbol_list字段。",
            "schema": {
              "type": "string",
              "default": "{\"trace\":\"abc-123\",\"data\":{\"symbol_list\":[{\"code\":\"700.HK\"},{\"code\":\"AAPL.US\"}]}}"
            },
            "example": "{\"trace\":\"abc-123\",\"data\":{\"symbol_list\":[{\"code\":\"700.HK\"},{\"code\":\"AAPL.US\"}]}}"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepthTickResponse"
                }
              }
            }
          }
        }
      }
    },
    "/quote-b-api/depth-tick": {
      "get": {
        "operationId": "getForexDepthTick",
        "summary": "Forex/Crypto Order Book Query",
        "description": "Query latest order book data for forex, crypto, precious metals, and commodity products.",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "您的API认证Token",
            "schema": {
              "type": "string",
              "default": "YOUR_TOKEN_HERE"
            },
            "example": "YOUR_TOKEN_HERE"
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "URL编码的JSON字符串，包含trace和symbol_list字段。",
            "schema": {
              "type": "string",
              "default": "{\"trace\":\"abc-123\",\"data\":{\"symbol_list\":[{\"code\":\"BTCUSDT\"},{\"code\":\"ETHUSDT\"}]}}"
            },
            "example": "{\"trace\":\"abc-123\",\"data\":{\"symbol_list\":[{\"code\":\"BTCUSDT\"},{\"code\":\"ETHUSDT\"}]}}"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepthTickResponse"
                }
              }
            }
          }
        }
      }
    },
    "/quote-stock-b-api/trade-tick": {
      "get": {
        "operationId": "getStockTradeTick",
        "summary": "Stock Latest Trade Query",
        "description": "Query latest trade price (tick data) for stock products. Supports batch querying multiple products.",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "您的API认证Token",
            "schema": {
              "type": "string",
              "default": "YOUR_TOKEN_HERE"
            },
            "example": "YOUR_TOKEN_HERE"
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "URL编码的JSON字符串，包含trace和symbol_list字段。",
            "schema": {
              "type": "string",
              "default": "{\"trace\":\"abc-123\",\"data\":{\"symbol_list\":[{\"code\":\"700.HK\"},{\"code\":\"AAPL.US\"}]}}"
            },
            "example": "{\"trace\":\"abc-123\",\"data\":{\"symbol_list\":[{\"code\":\"700.HK\"},{\"code\":\"AAPL.US\"}]}}"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TradeTickResponse"
                }
              }
            }
          }
        }
      }
    },
    "/quote-b-api/trade-tick": {
      "get": {
        "operationId": "getForexTradeTick",
        "summary": "Forex/Crypto Latest Trade Query",
        "description": "Query latest trade price for forex, crypto, precious metals, and commodity products.",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "您的API认证Token",
            "schema": {
              "type": "string",
              "default": "YOUR_TOKEN_HERE"
            },
            "example": "YOUR_TOKEN_HERE"
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "URL编码的JSON字符串，包含trace和symbol_list字段。",
            "schema": {
              "type": "string",
              "default": "{\"trace\":\"abc-123\",\"data\":{\"symbol_list\":[{\"code\":\"BTCUSDT\"},{\"code\":\"ETHUSDT\"}]}}"
            },
            "example": "{\"trace\":\"abc-123\",\"data\":{\"symbol_list\":[{\"code\":\"BTCUSDT\"},{\"code\":\"ETHUSDT\"}]}}"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TradeTickResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "KlineResponse": {
        "type": "object",
        "properties": {
          "ret": {
            "type": "integer",
            "description": "返回码（200 = 成功）"
          },
          "msg": {
            "type": "string",
            "description": "响应消息"
          },
          "trace": {
            "type": "string",
            "description": "请求追踪ID"
          },
          "data": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "产品代码"
              },
              "kline_type": {
                "type": "integer",
                "description": "K线类型（1=1分钟, 2=5分钟, 3=15分钟, 4=30分钟, 5=小时, 6=2小时, 7=4小时, 8=日K, 9=周K, 10=月K）"
              },
              "kline_list": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "timestamp": {
                      "type": "string",
                      "description": "K线时间戳"
                    },
                    "open_price": {
                      "type": "string",
                      "description": "开盘价"
                    },
                    "close_price": {
                      "type": "string",
                      "description": "收盘价"
                    },
                    "high_price": {
                      "type": "string",
                      "description": "最高价"
                    },
                    "low_price": {
                      "type": "string",
                      "description": "最低价"
                    },
                    "volume": {
                      "type": "string",
                      "description": "成交量"
                    },
                    "turnover": {
                      "type": "string",
                      "description": "成交额"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "BatchKlineRequest": {
        "type": "object",
        "required": [
          "trace",
          "data"
        ],
        "properties": {
          "trace": {
            "type": "string",
            "description": "唯一追踪ID，用于请求追踪"
          },
          "data": {
            "type": "object",
            "required": [
              "data_list"
            ],
            "properties": {
              "data_list": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "code",
                    "kline_type",
                    "kline_timestamp_end",
                    "query_kline_num",
                    "adjust_type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "产品代码"
                    },
                    "kline_type": {
                      "type": "integer",
                      "description": "K线类型（1=1分钟, 2=5分钟, 3=15分钟, 4=30分钟, 5=小时, 6=2小时, 7=4小时, 8=日K, 9=周K, 10=月K）"
                    },
                    "kline_timestamp_end": {
                      "type": "integer",
                      "description": "结束时间戳（0 = 最新）"
                    },
                    "query_kline_num": {
                      "type": "integer",
                      "description": "查询K线数量（批量最大2根）"
                    },
                    "adjust_type": {
                      "type": "integer",
                      "description": "复权类型（0=除权, 1=前复权）"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "BatchKlineResponse": {
        "type": "object",
        "properties": {
          "ret": {
            "type": "integer"
          },
          "msg": {
            "type": "string"
          },
          "trace": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "kline_list": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "kline_type": {
                      "type": "integer"
                    },
                    "kline_data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string"
                          },
                          "open_price": {
                            "type": "string"
                          },
                          "close_price": {
                            "type": "string"
                          },
                          "high_price": {
                            "type": "string"
                          },
                          "low_price": {
                            "type": "string"
                          },
                          "volume": {
                            "type": "string"
                          },
                          "turnover": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "DepthTickResponse": {
        "type": "object",
        "properties": {
          "ret": {
            "type": "integer"
          },
          "msg": {
            "type": "string"
          },
          "trace": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "tick_list": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "产品代码"
                    },
                    "seq": {
                      "type": "string",
                      "description": "报价序号"
                    },
                    "tick_time": {
                      "type": "string",
                      "description": "报价时间戳（毫秒）"
                    },
                    "bids": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "string"
                          },
                          "volume": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "asks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "string"
                          },
                          "volume": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "TradeTickResponse": {
        "type": "object",
        "properties": {
          "ret": {
            "type": "integer"
          },
          "msg": {
            "type": "string"
          },
          "trace": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "tick_list": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "产品代码"
                    },
                    "seq": {
                      "type": "string",
                      "description": "序号"
                    },
                    "tick_time": {
                      "type": "string",
                      "description": "时间戳（毫秒）"
                    },
                    "price": {
                      "type": "string",
                      "description": "成交价"
                    },
                    "volume": {
                      "type": "string",
                      "description": "成交量"
                    },
                    "turnover": {
                      "type": "string",
                      "description": "成交额"
                    },
                    "trade_direction": {
                      "type": "integer",
                      "description": "交易方向（0=中性盘, 1=主动买入, 2=主动卖出）"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}